<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        lang="es">
<head th:replace="~{paginas/plantillas/plantilla :: head}"></head>
<body>
    <form th:action="@{/profesores/guardar}" th:object="${profesor}" method="post">

        <div th:if="${error}" class="alert alert-danger">
            <span th:text="${error}"></span>
        </div>

        <!-- Nombre -->
        <div>
            <label>Nombre</label>
            <input type="text" th:field="*{nombre}" class="form-control">
        </div>

        <!-- Número empleado -->
        <div>
            <label>Número de empleado</label>
            <input type="text" th:field="*{numeroEmpleado}" class="form-control">
        </div>

        <!-- Experiencia -->
        <div>
            <label>Experiencia</label>
            <input type="text" th:field="*{experiencia}" class="form-control">
        </div>

        <!-- Especialidad -->
        <div>
            <label>Especialidad</label>
            <input type="text" th:field="*{especialidad}" class="form-control">
        </div>

        <button type="submit" class="btn btn-success">Guardar</button>
        <a th:href="@{/profesores}" class="btn btn-secondary">Cancelar</a>

    </form>
</body>
</html>