<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        lang="es">
<head>
    <title>Lista de Asesorías</title>
</head>
<body>

    <h1>Lista de Asesorías</h1>

    <a th:href="@{/asesorias/nuevo}">Nueva asesoria</a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Alumno</th>
                <th>Profesor</th>
                <th>Materia</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="a : ${asesorias}">
                <td th:text="${a.id}"></td>
                <td th:text="${a.alumno.matricula}"></td>
                <td th:text="${a.profesor.nombre}"></td>
                <td th:text="${a.materia.nombre}"></td>
                <td th:text="${a.fecha}"></td>
                <td th:text="${a.hora}"></td>
                <td th:text="${a.estado}"></td>
                <td>
                    <a th:href="@{'/asesorias/editar/' + ${a.id}}">Editar</a>
                    <a th:href="@{'/asesorias/eliminar/' + ${a.id}}"
                        onclick="return confirm('Seguro que deseas eliminar?')">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>
